# =========================
# Ignore OS X Files
# =========================

.DS_Store
.Spotlight-V100
.Trashes

# =========================
# Ignore Node Modules
# =========================

node_modules

# =========================
# Ignore Bower Dependencies
# =========================

development/scripts/vendor